<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  		<p:panel header="">
	  	
	  			<h:form>
	  				<p:growl /> <!-- Mensagens -->
	  				<h:inputHidden value="#{TipoveiculoController.tipoveiculo.idTipoVeiculo}" /> <!-- Não mostra para o usuário -->
	  				<h:panelGrid columns="2">
	  						
   		 				
	  					<h:outputLabel value="Modelo:"/>
	  					<p:inputText  value="#{TipoveiculoController.tipoveiculo.modelo}" />
	  				
	  					<h:outputLabel value="Fabricante:"/>
	  					<p:inputText  value="#{TipoveiculoController.tipoveiculo.fabricante}" />
	
	  				</h:panelGrid>
	  				
	  				<p:commandButton value="Salvar"
	  					actionListener="#{TipoveiculoController.salvar()}"
	  					update="@form" />
	  				
	  			
   		     			<br/>
   		     				<br/>
	  			
	  			
	  			</h:form>
	  		
	  		</p:panel>
	  
	  </ui:define>
	  

</ui:composition>