<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  	
   		 	
	  		<p:panel header="">
	  	
	  			<h:form>
	  				<p:growl /> <!-- Mensagens -->
	  				
	  				
	  				
	  				<h:panelGrid columns="2">
	  						
   		 				
	  				<h:outputLabel value="Nome:"/>
	  				<p:inputText  value="#{ClienteController.cliente.nome}" />
	  				<p:outputLabel value="CPF" />
       				<p:inputMask  value="#{ClienteController.cliente.cpf}" mask="999.999.999-99"/>
       				<h:outputLabel value="CEP"/>
	  				<p:inputMask  value="#{ClienteController.cliente.cep}" mask="99.999.999"/>
	  				<h:outputLabel value="Rua:"/>
	  				<p:inputText  value="#{ClienteController.cliente.rua}" />
	  				<h:outputLabel value="Bairro:"/>
	  				<p:inputText  value="#{ClienteController.cliente.bairro}" />
	  				<h:outputLabel value="Cidade:"/>
	  				<p:inputText  value="#{ClienteController.cliente.cidade}" />
	  				<h:outputLabel value="Numero:"/>
	  				<p:inputText  value="#{ClienteController.cliente.numero}" />
       					
       					
       					
	  				</h:panelGrid>
	  				
	  				<p:commandButton value="Salvar"
	  					actionListener="#{ClienteController.salvar()}"
	  					update="@form" />
	  					<br/>
	  						<br/>
	  				<h:commandLink immediate="true">
        				<p:graphicImage  url="demo/excel.png" />
        				<p:dataExporter type="pdf" target="tabela" fileName="funcionario" pageOnly="true"/>
   		     		</h:commandLink>
   		     			<br/>
   		     				<br/>
	  			<p:dataTable id="tabela"
	  					value="#{ClienteController.consultar()}"
	  					var="cliente">
	  					
	  					<p:column headerText="Nome">
	  						#{cliente.nome}
	  					</p:column>
	  					<p:column headerText="CPF">
	  						#{cliente.cpf}
	  					</p:column>
	  					<p:column headerText="Editar">
	  							<p:commandButton 
	  								icon="ui-icon-pencil"
	  								actionListener="#{ClienteController.editar(cliente)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>
	  						
	  						<p:column headerText="Excluir">
	  							<p:commandButton 
	  								icon="ui-icon-close"
	  								actionListener="#{ClienteController.excluir(cliente)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>
	  					
	  				
	  				</p:dataTable>
	  			</h:form>
	  		
	  		</p:panel>
	  
	  </ui:define>
	  

</ui:composition>