<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  	
   		 	
	  		<p:panel header="">
	  	
	  			<h:form>
	  				<p:growl /> <!-- Mensagens -->
	  				
	  				<h:inputHidden value="#{VeiculoController.veiculo.idVeiculo}" /> <!-- Não mostra para o usuário -->
	  				
	  				<h:panelGrid columns="2">
	  						
   		 				
	  					<h:outputLabel value="Cor:"/>
	  					<p:inputText  value="#{VeiculoController.veiculo.cor}" />
	  					<h:outputLabel value="Placa:"/>
	  					<p:inputMask mask="aaa-9999"  value="#{VeiculoController.veiculo.placa}" />
	  					
	  				 
	  					<p:outputLabel value="Tipo:"/>
	  					<p:selectOneMenu 
	  							filter="true" 
	  							converter="#{entityConverter}"
	  							value="#{VeiculoController.veiculo.tipoveiculo}">
	  						
	  						<f:selectItems 
	  							value="#{TipoveiculoController.consultar()}"
	  							var="tipoveiculo"
	  							itemLabel="#{tipoveiculo.modelo}"
	  							itemValue="#{tipoveiculo}" />
	  						
	  					</p:selectOneMenu>
	  					
	  				</h:panelGrid>
	  				
	  				<p:commandButton value="Salvar"
	  					actionListener="#{VeiculoController.salvar()}"
	  					update="@form" />
	  				
	  			
	  			</h:form>
	  			
	  			
	  		
	  		</p:panel>
	  
	  </ui:define>
	  

</ui:composition>