<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  <ui:define name="conteudo">
	  	
   		 	
	  		<p:panel header="">
	  	
	  			<h:form>
	  				<p:growl /> <!-- Mensagens -->
	  				
	  				<h:panelGrid columns="2">
	  						  		
			  		
			  		<h:outputLabel value="Nome:"/>
	  				<p:inputText  value="#{FuncionarioController.funcionario.nome}" />
	  				<p:outputLabel value="CPF" />
       					<p:inputMask  value="#{FuncionarioController.funcionario.cpf}" mask="999.999.999-99"/>
       				<h:outputLabel value="CEP"/>
	  				<p:inputMask  value="#{FuncionarioController.funcionario.cep}" mask="99.999.999"/>
	  				<h:outputLabel value="Rua:"/>
	  				<p:inputText  value="#{FuncionarioController.funcionario.rua}" />
	  				<h:outputLabel value="Bairro:"/>
	  				<p:inputText  value="#{FuncionarioController.funcionario.bairro}" />
	  				<h:outputLabel value="Cidade:"/>
	  				<p:inputText  value="#{FuncionarioController.funcionario.cidade}" />
	  				<h:outputLabel value="Numero:"/>
	  				<p:inputText  value="#{FuncionarioController.funcionario.numero}" />
			  		<p:outputLabel for="german" value="Data Admissão:" />
		        	<p:calendar id="german" value="#{FuncionarioController.funcionario.datainicio}" locale="de" navigator="true" pattern="yyyy-MMM-dd" />

	  				</h:panelGrid>
	  				
	  				<p:commandButton value="Salvar"
	  					actionListener="#{FuncionarioController.salvar()}"
	  					update="@form" />
	  					<br/>
	  						<br/>
	  				<h:commandLink immediate="true">
        				<p:graphicImage  url="demo/excel.png" />
        				<p:dataExporter type="pdf" target="tabela" fileName="funcionario" pageOnly="true"/>
   		     		</h:commandLink>
   		     			<br/>
   		     				<br/>
	  				<p:dataTable id="tabela" 
	  					value="#{FuncionarioController.consultar()}"
	  					var="funcionario">
	  					
	  					<p:column headerText="Nome">
	  					<f:facet name="Nome">
  						<h:outputText value= "Nome"/>
  						</f:facet>
  						<h:outputText value="#{funcionario.nome}"></h:outputText>
	  					</p:column>
	  					<p:column headerText="Data Admissão">
	  					<f:facet name="Data Admissão">
  						<h:outputText value= "Data Admissão"/>
  						</f:facet>
  						<h:outputText value="#{funcionario.datainicio}"></h:outputText>
	  						
	  					</p:column>
	  					<p:column headerText="Editar">
	  							<p:commandButton 
	  								icon="ui-icon-pencil"
	  								actionListener="#{FuncionarioController.editar(funcionario)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>
	  						
	  						<p:column headerText="Excluir">
	  							<p:commandButton 
	  								icon="ui-icon-close"
	  								actionListener="#{FuncionarioController.excluir(funcionario)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>
	  					
	  				
	  				</p:dataTable>
	  			
	  			</h:form>
	  		
	  		</p:panel>
	  
	  </ui:define>
	  

</ui:composition>