<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	  
	<ui:define name="conteudo">
	 
	<div class="form">
	
	<h:form>
		<p:growl/>
	   <p:panel  id="panel" header="Acessar Sistema">
	 
	        <h:panelGrid columns="2" cellpadding="5">
	        	
	        	<p:outputLabel for="nome" value="Nome:" />
	            <p:inputText id="nome" value="#{usuarioController.usuario_login.nome}" required="true" label="nome">
	            <f:validateLength minimum="2" />
	            </p:inputText>
	           
	            <p:outputLabel for="senha" value="Senha:" />
	            <p:inputText id="senha" type="password" value="#{usuarioController.usuario_login.senha}"  required="true" label="senha">
	            <f:validateLength minimum="3" /> 
	            </p:inputText>
	            
	 	
	 		
	        </h:panelGrid>
	 
	        <p:commandButton value="Entrar" update="panel" action="#{usuarioController.consultar()}" icon="ui-icon-check" />
	        
	    </p:panel>
	    
	</h:form>
	
	</div>
	
	</ui:define>
	
</ui:composition>
