<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
	  
	  
<h:head>
	<title>TrabalhoJava</title>
</h:head>

<h:body>

	<h:form>
		<p:menubar>
			<p:submenu label="Cadastro">
			<p:menuitem value="Cadastro Funcionario" url="cadastrofuncionario.jsf"/>
			<p:menuitem value="Cadastro Cliente" url="cadastrocliente.jsf"/>
			<p:menuitem value="Cadastro Tipo Veiculo" url="cadastrotipoveiculo.jsf"/>
			<p:menuitem value="Cadastro Veiculo" url="cadastroveiculo.jsf"/>
			</p:submenu>
			<p:submenu label="Novo">
			<p:menuitem value="Entrada Veiculo" url="entrada.jsf"/>
			</p:submenu>
		</p:menubar>
		  
	</h:form>
	
	<br/>
	
	<ui:insert name="conteudo"/>

</h:body>


</html>